<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'mainapp/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'mainapp/css/font-awesome-all.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


    <title>Calendar App</title>
</head>
<body>

{% block content %}

{% endblock %}
</body>
</html>