<footer class="footer">
    <div class="container text-center ">
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6">
                <span class="text-muted">Made with <i class="fas fa-heart"
                                                      style="color:red"></i> and <i class="fas fa-coffee"
                                                                                    style="color:brown"></i> by <a
                        href="https://saiprasad.io">Saiprasad Balasubramanian</a></span>
            </div>
            <div class="col-lg-3">
                <a href=" https://github.com/backtrackbaba"><i class="fab fa-github fa-2x"></i> </a>

                <a href=" https://stackoverflow.com/users/8044551/saiprasad-balasubramanian"><i
                        class="fab fa-stack-overflow fa-2x so"></i></a>


            </div>
        </div>

    </div>

</footer>